SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/clinio
SPRING_DATASOURCE_USERNAME=clinio
SPRING_DATASOURCE_PASSWORD=clinio
SPRING_MAIL_HOST=localhost
SPRING_MAIL_PORT=1025
CLINIO_DEFAULT_TIMEZONE=America/Chicago
